<!-- ESQUELETO PADRAO DAS PAGINAS -->
@model ProjetoPixelPlace.Entities.Usuario

@{
    ViewData["Title"] = "Create";
}


    <link rel="stylesheet" href="~/css/listaDesejo.css">

                    <div class="containerSectionDesejo">
                        <div class="containerTittle">
                            <p class="desejo">Lista de Desejo <img src="img/Vector.svg"></p>
                        </div>

                        <div class="containerList">
                            <div class="gridJogos">

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="posterJogo">
                                    <img src="img/imagemJogo.png">
                                    <div class="containerTexto">
                                        <div class="frame41">
                                            <p class="nomeJ">Unravel</p>
                                            <p class="nomeJ2">IO interactive</p>
                                        </div>
                                        <div class="containerCategoria">
                                            <p>WEB</p>
                                        </div>
                                        <div class="containerBotoes">
                                            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535"/>
                                            </svg>
                                            <div class="containerAbrir">
                                                <a href=""><p>Abrir</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="containerFilter">
                                <div class="containerTitulo">
                                    <p class="filtros">Filtros</p>
                                    <div class="group42">
                                        <div class="rectangle49">
                                            <div class="frame43">
                                                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.66667 2.66302L26 2.66441M8.66667 14.2015L26 14.2031M8.66667 25.74L26 25.7415M2.66667 2.66173H2.68M2.66667 14.2002H2.68M2.66667 25.7387H2.68M3.33333 2.66173C3.33333 3.19277 3.03485 3.62327 2.66667 3.62327C2.29848 3.62327 2 3.19277 2 2.66173C2 2.1307 2.29848 1.7002 2.66667 1.7002C3.03485 1.7002 3.33333 2.1307 3.33333 2.66173ZM3.33333 14.2002C3.33333 14.7312 3.03485 15.1617 2.66667 15.1617C2.29848 15.1617 2 14.7312 2 14.2002C2 13.6692 2.29848 13.2387 2.66667 13.2387C3.03485 13.2387 3.33333 13.6692 3.33333 14.2002ZM3.33333 25.7387C3.33333 26.2696 3.03485 26.7002 2.66667 26.7002C2.29848 26.7002 2 26.2696 2 25.7387C2 25.2077 2.29848 24.7771 2.66667 24.7771C3.03485 24.7771 3.33333 25.2077 3.33333 25.7387Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>                                                    
                                            </div>
                                            <div class="blbIcon">
                                                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 2.08V10.5C0 11.6488 0.93125 12.58 2.08 12.58H10.5C11.6488 12.58 12.58 11.6488 12.58 10.5V2.08C12.58 0.931248 11.6488 0 10.5 0H2.08C0.931248 0 0 0.93125 0 2.08Z" fill="white"/>
                                                    <path d="M14.459 10.5V2.08C14.459 0.93125 15.3902 0 16.539 0H24.959C26.1077 0 27.039 0.931248 27.039 2.08V10.5C27.039 11.6488 26.1077 12.58 24.959 12.58H16.539C15.3902 12.58 14.459 11.6488 14.459 10.5Z" fill="white"/>
                                                    <path d="M14.459 26V17.58C14.459 16.4312 15.3902 15.5 16.539 15.5H24.959C26.1077 15.5 27.039 16.4312 27.039 17.58V26C27.039 27.1488 26.1077 28.08 24.959 28.08H16.539C15.3902 28.08 14.459 27.1488 14.459 26Z" fill="white"/>
                                                    <path d="M0 26V17.58C0 16.4312 0.931248 15.5 2.08 15.5H10.5C11.6488 15.5 12.58 16.4312 12.58 17.58V26C12.58 27.1488 11.6488 28.08 10.5 28.08H2.08C0.93125 28.08 0 27.1488 0 26Z" fill="white"/>
                                                </svg>                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="procurarDesejo">
                                    <img src="img/search.svg">
                                    <input class="tituloiblioteca" placeholder="Titulo">
                                </div>
                                <div class="frame44">
                                    <div class="linha4"></div>
                                </div>
                                <div class="containerTituloGenero">
                                    <p class="genero">Gêneros</p>
                                    <div class="frame42">
                                        <img src="img/vectorbaixo.svg">
                                    </div>
                                </div>
                                <div class="frame44">
                                    <div class="linha4"></div>
                                </div>
                                <div class="containerTituloGenero">
                                    <p class="preco">Preços</p>
                                    <div class="frame42">
                                        <img src="img/vectorbaixo.svg">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
               
