
@{
      ViewData["Title"] = "Create";
}


    <link rel="stylesheet" href="~/css/transcoes.css">
 
                    <div class="containerTittle">
                        <p class="transacoes">Transações</p>
                        <img src="img/Vector.svg" class="vector">
                    </div>
                    
                    <div class="table">
                        <div class="tread">
                            <div class="th">
                                <p>Data</p>
                            </div>
                            <div class="th">
                                <p>Itens</p>
                            </div>
                            <div class="th">
                                <p>Tipo</p>
                            </div>
                            <div class="th">
                                <p>Total</p>
                            </div>
                        </div>
                        <div class="tbody">
                            <div class="tr">
                                <div class="td">
                                    <p>18/12/2024</p>
                                </div>
                                <div class="td itens">
                                    <p>Conta de pedro (call of duty, minecraft, god of war)</p>
                                </div>
                                <div class="td">
                                    <p>Compra</p>
                                    <p class="pix">Pix</p>
                                </div>
                                <div class="td">
                                    <p class="preco">R$ 29,99</p>
                                </div>
                            </div>
                        </div>
                    </div>